body{
    background-color: #0d0d0d;
    color: white;
  
  }
  .w-90{
    width: 90%;
  }
  input{
    background-color: #0d0d0d !important;
    border-radius: 0 !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    
    
  }
  .form-control::placeholder{
    text-align: center;
  }
  .layer{
    background-color:rgba(255, 255, 255,0.5);
    width: 100%;
    height:0%;
    transition: 1s;
  }


  /*sadeBar*/
.demo{
 height: 100vh;
 width: 60px;
 z-index: 55555555;
 background-color: #f8f6f6;
 text-align: center;
 left: 0px;
 transition: 0.5s;
}
.logo{
  width: 30px;
  
}
/*navbar*/
.nav-item a{
  
  text-decoration-line: none;
}
.nav-item ul{
  list-style: none;
}
.nav-social-item i{
  color: white !important;
}
.nav-social-item i:hover{
  color: rgb(169, 45, 45) !important;
}



  
